@model IEnumerable<Squad>
@{
    ViewData["Title"] = "Index";
} 

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Team Sheet</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Squad" asp-action="Add" class="btn btn-success">
                <i class="bi bi-person-plus"></i> &nbsp; Add Player
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="text-center text-bg-dark">
            <th>
                Player Name
            </th>
            <th>
                Player No
            </th>
            <th>
                Age
            </th>
            <th>
                Position
            </th>
            <th width="30%">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr class="text-center">
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Number
                </td>
                <td>
                    @obj.Age
                </td>
                <td>
                    @obj.Position
                </td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="Squad" asp-action="Update" asp-route-id="@obj.Id"
                        class="btn btn-info mx-2"> <i class="bi bi-pencil-square"></i>Update</a>

                        <a asp-controller="Squad" asp-action="Remove" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-2"> <i class="bi bi-trash"></i>Remove</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
